<p-panel  header="Pipes númericos" [showHeader]="true" class="p-1">

  <!-- <h1>Pipes Basicos</h1> -->

  <p>
    Pipes incluidos en el Angular. Usualmente en el commonModole.
  </p>
</p-panel>

<div class="grid">

    <div class="col-12 md:col-4">

      <p-card header="Ventas netas" subheader=" del presente año">
        {{ totalSells | number:'1.2-2' }}
      </p-card>
    </div>
    <div class="col-12 md:col-4">

      <p-card header="Ventas brutas" subheader=" del presente año">
        <!-- {{ totalSells | currency:'L. ' }}
        {{ totalSells | currency:'CAD ' }}
        {{ totalSells | currency:'USD ' }} -->
        <!-- {{ totalSells | currency:'USD':'symbol-narrow' }} -->
        {{ totalSells | currency:'HNL':'symbol-narrow':'1.4-4' }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">

      <p-card header="Ganancia porcentual " subheader=" del presente año">
        <!-- {{ percent | percent }} lo muestra redondeado -->
        {{ percent | percent:'1.2-2' }}
      </p-card>
    </div>

  </div>
